# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/run

/fluxent-server/build.gradle.kts
/fluxent-server/src/minecraft
/paper-server
/fluxent-api/build.gradle.kts
/paper-api
/paper-api-generator

.idea/
